.Typymid {
  color:rgb(255, 249, 170);
}

.collec-item{
  display: flex;
}

.orm h2{
  position: absolute;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 238, 211) ;
  left: 18%;
  top: 170%;
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 30px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  justify-content: center;
}

.collec-item img {
  width: 100%;          /* chia đều 3 ảnh trong hàng */
  height: 600px;       /* đặt cùng chiều cao cho đẹp */
  object-fit: cover;   /* cắt ảnh để không méo */
}

.collec-item2{
  display: flex;
  /* position: absolute; */
}

.collec-item2 img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.QL h2{
  position: absolute;
  align-items: center;
  text-align: center;
  background-color: rgb(255, 238, 211) ;
  left: 55%;
  top: 280%; 
  transform: translate(-50%, -50%);
  color: rgb(0, 0, 0);
  font-size: 20px;
  font-weight: bold;
  font-family: 'Playfair Display', serif;
  justify-content: center;
}